{% extends 'base.html' %}

{% block titulo %}
<title>Movies</title>
{% endblock titulo %}

{% block contenido %}
    <h1>Películas</h1>
    
    <a href="{% url 'movies_list' %}">Ver todos</a>
    <a href="{% url 'new_movie' %}">Añadir película</a>
    <br><br>
    <form action="{% url 'search_movies' %}" method="post">
        {% csrf_token %}
        <input type="text" name="busqueda">
        <input type="submit" value="Buscar por título o año">
      </form>
      <br>
    {% for movie in movies %}
  <li>
    {{ movie.title }} - {{movie.release_year}}<br>
    {% if movie.length == none %}
    Duración: añadir duración
    {% else %}
    Duración: {{movie.length}}
    {% endif %}
    <br>
    {% if movie.plot == '' %}
    Argumento: añadir Argumento
    {% else %}
    Argumento: {{movie.plot}}
    {% endif %}
  </li>
{% endfor %}
</ul>

{% endblock contenido %}